.button{
    padding: 0.7em 1.3em;
    font-size: 0.7em;
    font-weight: 400;
    background-color: var(--color-brand--2);
    border: var(--color-brand--2);
    border-radius: 0.4em;
    color: var(--color-dark--2);
    cursor: pointer;
}