.img{
    width: 7em;
    height: 100%;
}
@media (min-width: var(--breakpoint-sm)){
    .img{
        width: 9em;
    }
}
@media (min-width: var(--breakpoint-md)){
    .img{
        width: 12em;
    }
}